// GOOGLE FONT
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
$yellow: #FFFF00;
$blue: #007bff;
$black: #050505;
$background: #f4f7fd;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


*::-webkit-scrollbar {
  width: 5px;
}


*::-webkit-scrollbar-thumb {
  background-color: #007bff;
}

a {
  text-decoration: none;
  color: unset;
}

input {
  border: none;
  outline: none;
}

html {
  font-size: 62.8%;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}


@media screen and (max-width: 991px) {
  .container {
    padding: 0 2rem; 
    width: 100%;
  }
}


@media screen and (max-width: 768px) {
  .container {
    padding: 0 1rem; 
    width: 100%;
  }
}

.block {
  width: 100%;
  display: block;
}

.btn {
  display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: #007bff;
    &:active {
      background-color: darken($color: #007bff, $amount: 10);
    }
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
  padding: 8px 20px;
  position: relative;
    border: none;
    z-index: 1;
    font-size: 14px;
    color: #fff;
    border-radius: 10px;
}


.heading {
  font-size: 19px;
  color: #141821;
  margin: 5px 0;
  padding-bottom: 8px;
}

// header
.top__header {
  padding-bottom: 1rem;
  border-bottom:1px solid rgba(0,0,0,0.1) ;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  max-width: 1140px;
  margin: 0 auto;
  z-index: 9999;
  .header__logo {
    display: flex;
    align-items: center;
    gap: .5rem;  
  }
  
  .header__search {
    border: 1px solid $blue;
    display: flex;
    width: 60%;
    margin: 0 4rem;
    border-radius: .3rem;
    align-items: stretch;
    overflow: hidden;
    background-color: $blue; 
    input {
      width: 100%;
      padding: .7rem 1rem;
      
    }

    button {
      background-color: $blue; 
      width: 70px;
      margin-top: -1px;
      border-radius: .3rem;
      border: none;
      outline: none;
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .header__navigations {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 2rem;
    .header__navigation {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      font-size: 1.4rem;
      position: relative;
      i {
        font-size: 2rem;
      }
      &:hover {
        opacity: .8;
      }
      &:active {
        transform: scale(.98);
      }
      .badge {
        position: absolute;
        top: -5px;
        right: 5px;
        background-color: $blue;
        color: #fff;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 1140px){
  .header {
    padding: 2rem 4rem;
  }
}

.hero {
  width: 100%!important;
  cursor: pointer;
  margin-bottom: 20px;
  img {
    width: 100%;
    border-radius: 20px;
  }
}

@media (max-width: 768px) { 
  .main {
    padding: 50px 0 100px 0!important ;
  }
  .header {
    margin: 0 2rem;
    height: 0;
    overflow: hidden;
    padding: 0;
    .header__search {
      display: none;
    }
  }

  .header__navigations {
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 2rem;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #fff;
    .header__navigation {
      margin: 0;
      font-size: 1.6rem!important; 

      i {
        font-size: 2.5rem!important;
      }
    }
  }
}

.header__navigations { 
  .header__navigation { 
    &.res {
      display: none!important;
    } 
  }
}

.categories__list {
  width: 100%; 
  z-index: 999;

  .category__btn {
    padding: .5rem 0;
    display: flex;
    align-items: center;
    position: relative;
    &:hover {
      opacity: .8;
    }


    i {
      color: $blue;
      margin-right: .5rem;
      font-size: 1.8rem;
    }

    span {
      font-size: 1.6rem;
    }

  }
  .categories {
    padding: 2rem;
    width: 250px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
    max-height: 450px;
    overflow-y: auto;
  background-color: #fff;
  position: fixed;
  z-index: 999999;

    li {
      font-size: 1.4rem;
      list-style-type: none;
      padding: .5rem 0;
      cursor: pointer;
      &:active {
        background-color: rgba(0,0,0,0.1);
      }
    }
  }

 
}



@media screen and (max-width: 768px) {
.categories__list {
  background-color: #fff;
  padding: 1rem 0;
  
  .category__btn {  

    i {
      color: $blue;
      margin-right: .5rem;
      font-size: 2.5rem;
    }

    span {
      font-size: 2rem;
    }

  }
  .categories {
    padding: 2rem;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
    li {
      font-size: 1.6rem;
      list-style-type: none;
      padding: 1rem;
      background-color: rgba(0,0,0,0.05);
      margin-bottom: .3rem;
    }
  }

 
}

  .header__navigations { 
    .header__navigation { 
      &.res {
        display: flex!important;
      } 
    }
  }
}


// main

.main {
  width: 100%;
  background-color: $background;
  padding: 2rem 0;
  min-height: 100vh;
}


// product__card
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}
.product__card {
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0,0,0,0.05);
  &-basket {
    padding: 2rem;
    .card-body {
      display: flex;
      align-items: center;
      img {
        width: 70px;
        margin-right: 2rem;
      }
    }
  }
  .basket {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: #fff;
    background-color: #C4C4C4;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    &.active {
      background-color: $blue;
      cursor: pointer;
    }
  }
  .favourite {
    position: absolute;
    top: 4.5rem;
    right: 1rem;
    font-size: 2rem;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #999;
    .active {
      color: coral;
    }
  }
  .card__image {
    padding: 1rem;
    img {
      width: 100%;
      height: 140px;
      object-fit: contain;
      border-radius: 20px;
    }
  }
  .card-body {
    padding: 1rem ;
    .product__name {
      margin-bottom: 1rem;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        color: $blue;
      }
    }
    .category__name {
      color: $blue;
      text-transform: capitalize;
    }
    .first__price {
      color: #888;
      text-decoration: line-through;
      font-size: 14px;
      font-weight: 500;
    }
    .second_price {
      color: #141821;
      font-size: 18px;
      font-weight: 600;
    }
    .card-flex {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: end;
      margin: 1rem 0 2rem 0;
    }
    .card-btn {
      display: block;
      width: 100%;
    }
  }
}


@media screen and (max-width: 500px) {

  .product__card {
    &-basket {
      padding: 2rem;
      .card-body {
        display: flex;
        align-items: center;
        flex-direction: column;
        img {
          width: 100%;
          margin: 0;
        }

        .card-flex {
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;

          .btn {
            width: 100%;
            display: block;
          }
        }

         
        
      }
    }
  }
  
.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .product__card {
    .card-flex {
      flex-direction: column;
      align-items: start!important;
    }
    .card-btn {
      font-size: 14px!important;
      padding: 4px 12px!important;
    }
  }
}
}


 
.categories__list {
  position: inherit!important;
}
@media (max-width: 768px) {
  
  .categories__list {
    position: fixed!important;
  }

}



// modal
.modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  z-index: 9999999999;
  .modal {
    max-width: 80%;
    width: 400px;
    margin: 0 2rem;
    background-color: #fff;
    max-width: 100vh;
    height: 400px;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    .close {
      position: absolute;
      right: 1rem;
      top: 1rem;
      font-size: 2.8rem;
      cursor: pointer;
    }
  }
}

// login

.form {
  width: 100%;
  .form-label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 10px 0 20px 0;
    span {
      font-size: 14px;
      color: #555;
      margin-bottom: 8px;
    }
  }
}


.form-control {
  width: 100%;
  padding: 8px 16px;
  background-color: #F5F6FA;
  border-radius: 5px;
  border: 1px solid transparent;
  &::placeholder {
    color: #C4C4C4;
  }

  &:focus {
    border: 1px solid $blue;
  }
}


.login-container {
  width: 100%;
  .login-header {
    h1 {
      font-size: 18px;
      color:#141821;
    }

  }
  .login-navigation {
    width: 100%;
    display: flex;
    margin: 10px 0 20px 0;

    .login-nav__item {
      cursor: pointer;
      width: 50%;
      text-align: center;
      padding: 8px 10px;
      font-size: 14px;
      &-active {
        border-bottom: 2px solid $blue;
      }
    }
  }
}


// user data
.userData {
  position: absolute;
  top: 70px;
  right: 80px;
  background-color: #fff;
  border-radius: 20px;
  border-top-right-radius: 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  padding: 1.5rem;
  z-index: 999;
  ul {
    list-style-type: none;
    margin-top: 10px;
    li {
      padding: 5px 8px;
      display: flex;
      align-items: center;
      font-size: 14px;
      &:hover {
        color: $blue;
      }
      &.logout {
        cursor: pointer;
        background-color: rgba(0,0,0,0.1);
        border-radius: 5px;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .userData {
    position: fixed;
    bottom: 80px;
    top: initial;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    width: 70%;
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
    ul {
      li {
        font-size: 14px;
      }
    }
  }
}

.loading {
  width: 50px;
  display: block;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5rem;
  border-radius: 50%;
}

.basket {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  .products_basket {
    width: 70%;
    display: flex;
    flex-direction: column!important;
    gap: 2rem;
  }
  .basket__info {
    width: 30%;
    padding: 2rem;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      color: $blue;
    }

    h3 {
      padding: .3rem .5rem;    
      background-color: #F5F6FA;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      border-radius: 5px;
      color: #212529;
    }
  }
}


@media screen and (max-width: 500px) {
  .products_basket {
    width: 100%!important;
    display: flex;
    gap: 1rem;
    flex-direction: row!important;
    // flex-wrap: wrap;

    .product__card {
      width: 100%;
      h3 {
        display: block!important;
        width: 100%!important;
      }
    }
  }
  .basket__info {
    position: fixed;
    bottom: 100px;
    width: 90%!important;
    right: 2rem;
    left: 2rem;
  }
}

// details

.product__details__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
  z-index: 99999;
}

.product_details {
  width: 700px;
  max-width: 80%;
  margin: 0 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  z-index: 1;
  display: flex;
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
  gap: 1rem;
  .close {
    font-size: 2.4rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  .product__details-images {
    width: 50%;
    display: flex;
    align-items: start;
    .selected-image {
      width: 200px;
      padding: 1rem;
      border-radius: 20px;
    }
    .images__navigation {
      width: 70px;
      img {
        border: 1px solid transparent;
        border-radius: 10px;
        width: 70px;
        margin-bottom: 10px;
        cursor: pointer;
        &.active {
          border: 1px solid $blue;
        }
      }
    }
  }

  .btn {
    padding: 6px 12px;
    font-size: 12px!important;
    display: block;
    width: 100%;
    margin-top: 20px;
  }

  .product__details-content {
    padding: 2rem 0;
    h1 {
      font-size: 22px;
      font-weight: 500;
    }


    h3 {
      color: #555;
      margin: 6px 0;
    }

    .first__price {
      text-decoration: line-through;
    }

    h2 {
      font-size: 18px;
    }

    p {
      padding: 1rem;
      background-color: #f4f7fd;
      border-radius: 10px;
      margin: 5px 0;
    }

    span {
      display: block;
      margin: 8px 0 5px 0;
      font-size: 14px;
    }

    select {
      padding: 6px 14px;
      border: none;
      background-color: #f4f7fd;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}


@media screen and (max-width: 768px) {
  .product__details__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
    z-index: 99999;
  }
  
  .product_details {
    width: 300px!important;
    flex-direction: column;
    max-height: 600px;
    overflow-y: auto;
    .close {
      font-size: 2.4rem;
      cursor: pointer;
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
    .product__details-images {
      width: 100%!important;
      display: flex;
      flex-direction: column;
      align-items: start;
      .selected-image {
        width: 200px;
        padding: 1rem;
        border-radius: 20px;
      }
      .images__navigation {
        width: 100%!important;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        gap: 1rem;
        img {
          border: 1px solid transparent;
          border-radius: 10px;
          width: 70px;
          margin-bottom: 10px;
          cursor: pointer;
          &.active {
            border: 1px solid $blue;
          }
        }
      }
    }
   
    p {
      font-size: 16px;
    }

    h3 {
      font-size: 16px;
    }
  
     
  }
}